</html><!DOCTYPE html>
<html lang="en">
  <head>
    <title>DAAAYTOOONAAA</title>
    <!--
        !-- <link rel="stylesheet" type="text/css" href="css/reset.css">
      -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <div class="image-container">
        <div class="image">
          <img src="https://www.billsbarandburger.com/content/uploads/2015/05/Bills-Pittsburgh-Bar-1024x768-1024x768.jpg"
               alt="Header image"
               title="Image of alcohol on shelfs">
        </div>
        <div class="site-header">
          <h1>Welcome to Flavortown</h1>
        </div>
      </div>
      <!-- Section for viewing/choosing burgers -->
      <section id="select-burger">
        <div id="select-burger-headers">
          <h3>Select burger</h3>
          <p>This is where you select burgers</p>
        </div>
        <p>
          <div class="burger-grid">
            <div class="burger1 burgerimage">
              <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn0.vox-cdn.com%2Fthumbor%2FYiPiP8BLj70i8o9O6TpGEVoUkLY%3D%2F0x444%3A7115x5187%2F1280x853%2Fcdn0.vox-cdn.com%2Fuploads%2Fchorus_image%2Fimage%2F49565113%2Fshutterstock_333689708.0.0.jpg&f=1"
                   alt="borg"
                   title="borg"
                   height=200
                   width=300/>
            </div>
            <div class="burger2 burgerimage">
              <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.DW2ow5Ehn8KL6HoxKWIyGwHaLH%26pid%3D15.1&f=1"
                   alt="vegan burger"
                   title="veggo borg"
                   height=200
                   width=300/>
            </div>
            <div class="burger3 burgerimage">
              <img src="https://www.bonbonweb.com/9958-image_produit/candy-burger-50g.jpg"
                   alt="candy burger"
                   title="fren hold up"
                   height=200
                   width=300/>
            </div>
            <div class="burger1 burgerdesc">
              <ul>
                <li>750 kcal</li>
                <li class="gluten-lactose">Contains gluten</li>
                <li class="gluten-lactose">Contains lactose</li>
            </div>
            <div class="burger2 burgerdesc">
              <ul>
                <li>600 kcal</li>
                <li class="gluten-lactose">vegan, no allergenes</li>
              </ul>
            </div>
            <div class="burger3 burgerdesc">
              <ul>
                <li>It's good for you</li>
                <li class="gluten-lactose">Contains: gelatine</li>
              </ul>
            </div>
      </section>
      <!-- Section for entering info -->
      <section id="customer-information">
        <h3 >Delivery information</h3>
        <p>
          <label for="fullname" text-align="left">Full name</label><br>
          <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name"\>
        </p>
        <p>
          <span><label for="emailaddress">E-mail address</label><br></span>
          <input type="email" id="emailaddress" name="em" required="required" placeholder="E-mail address"\>
        </p>
        <p>
          <label for="street">Street</label><br>
          <input type="text" id="street" name="street" required="required" placeholder="Street name"\>
        </p>
        <p>
          <label for="housenr" align="left">House number</label><br>
          <input type="text" id="housenr" name="housenr" required="required" placeholder="House number"\>
        </p>
        <p>
          <label for="genders">Choose gender</label><br>
          <input type="radio" value="Male" name="genders">Male<br>
          <input type="radio" value="Female" name="genders">Female<br>
          <input type="radio" value="unspecified" name="genders" checked>Prefer not to specify<br>
        <p>
          <label for="recipient">Payment options:</label><br>
          <select id="recipient" name="rcp">
            <option>Credit card</option>
            <option>Swish</option>
            <option>Cash</option>
          </select>
          <br>
          <br>
          <button type="submit" style="vertical-align: center;"><img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F9%2F90%2FCheck_mark_23x20_02.svg%2F1081px-Check_mark_23x20_02.svg.png&f=1"
                                                                     height="15px"
                                                                     width="15px"> Place my order!</button>
        </p>
      </section>
    </main>
    <hr>
    <footer>
      &copy;2k19 duck
    </footer>
  </body>
</html>
